# VCS & meta
.git
.gitignore
.github
.gitattributes

# OS/editor junk
.DS_Store
Thumbs.db
.vscode
.idea

# Build artifacts & deps
vendor
node_modules
composer.phar

# Logs / caches
*.log
var/log
var/cache
storage/logs
storage/framework/*

# Docker files
Dockerfile
.dockerignore

# Env secrets
.env
.env.*
